@CHARSET "UTF-8";
.node circle {
  cursor: pointer;
  stroke: #3182bd;
  pointer-events: all;
}

.node text {
  font-family: sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

line.link {
  fill: none;
  stroke: #9ecae1;
}

rect {
  fill: none;
  pointer-events: all;
  z-index: -1;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}